<form [formGroup]="formGroup" (ngSubmit)="(submit)">
  <div class="form-floating mb-3">
    <input type="text"
           class="form-control"
           placeholder="Title"
           formControlName="title" />
    <span *ngIf="f.title.dirty && f.title.errors?.required"
          class="text-danger">
      Title is required!
    </span>
    <label for="floatingTitle" class="text-muted">Title</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Content" formControlName="content" rows="50" style="height: 400px"></textarea>
    <span *ngIf="f.content.dirty && f.content.errors?.required"
          class="text-danger">
      Content is required!
    </span>
    <label for="floatingContent" class="text-muted">Content</label>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary btn-login fw-bold p-2 mt-3" type="submit">
      Save
    </button>
  </div>
</form>
