body{
  background:#eee;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.messaging {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  border-radius: 6px 0 0 6px;
  background-color: #ffffff;
  width: 40%;
  height: 400px;
  overflow-y:scroll;
  display: flex;
  flex-direction: column-reverse
}
.input_msg_write {
  position: static;

}
.write_msg {
  border: none;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  width: 400px;
}
.msg_send_btn{
  margin-left: 2px;
  border: 1px;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.received_msg{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.outgoing_msg{
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}
.received_withd_msg{
  border-radius: 6px;
  border-bottom: 1px;
  background-color: lightskyblue;
  text-align: right;
  margin-bottom: 5px;
  padding: 3px 10px 3px 10px;
  max-width: 60%;
}
.sent_msg{
  border-radius: 6px;
  border-bottom: 1px;
  background-color: lightgray;
  text-align: left;
  margin-bottom: 5px;
  padding: 3px 10px 3px 10px;
  max-width: 60%;
}
.chat_usr_id {
  font-weight: bold;
  font-size: 12px;
}
.time_date {
  font-size: 12px;
}
.chat-list {
  padding: 0;
  font-size: .8rem;
}

.chat-list li {
  margin-bottom: 10px;
  overflow: auto;
  color: #ffffff;
}

.chat-list .chat-img {
  float: left;
  width: 48px;
}

.chat-list .chat-img img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
}

.chat-list .chat-message {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #5a99ee;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.chat-list .chat-message:before {
  content: "";
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
}

.chat-list .chat-message h5 {
  margin: 0 0 5px 0;
  font-weight: 600;
  line-height: 100%;
  font-size: .9rem;
}

.chat-list .chat-message p {
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.chat-list .chat-body {
  margin-left: 20px;
  float: left;
  width: 70%;
}

.chat-list .in .chat-message:before {
  left: -12px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
  float: right;
}

.chat-list .out .chat-body {
  float: right;
  margin-right: 20px;
  text-align: right;
}

.chat-list .out .chat-message {
  background: #fc6d4c;
}

.chat-list .out .chat-message:before {
  right: -12px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fc6d4c;
}

.card .card-header:first-child {
  -webkit-border-radius: 0.3rem 0.3rem 0 0;
  -moz-border-radius: 0.3rem 0.3rem 0 0;
  border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
  background: #17202b;
  border: 0;
  font-size: 1rem;
  padding: .65rem 1rem;
  position: relative;
  font-weight: 600;
  color: #ffffff;
}

.content{
  margin-top:40px;
}
