<div class="card" *ngIf="profileDetails || !profileDetails">
  <div class="card-body">
    <div class="row">
      <div class="pl-4">
        <h4>Edit profile details</h4>
      </div>
      <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" class="p-4" style="width: 100%;">
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Age</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Age"
                   formControlName="age" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">City</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="City"
                   formControlName="city" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Country</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Country"
                   formControlName="country" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Github</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Github"
                   formControlName="githubUrl" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Linekdin</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Linkedin"
                   formControlName="linkedinUrl" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Facebook</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Facebook"
                   formControlName="facebookUrl" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Twitter</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Twitter"
                   formControlName="twitterUrl" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0 mt-2">Website</h6>
          </div>
          <div class="form-floating col-sm-9">
            <input type="text"
                   class="form-control"
                   placeholder="Website"
                   formControlName="websiteUrl" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
            <button class="btn btn-primary fw-bold p-2 mt-3" style="float: right" type="submit">
              Save Changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
