<form [formGroup]="formGroup" (ngSubmit)="(submit)">
<!--  <div class="form-floating mb-3">-->
<!--    <input type="text"-->
<!--           class="form-control"-->
<!--           placeholder="Title"-->
<!--           formControlName="Title" />-->
<!--    <span *ngIf="f.Title.dirty && f.Title.errors?.required"-->
<!--          class="text-danger">-->
<!--      Title is required!-->
<!--    </span>-->
<!--    <label for="floatingTitle" class="text-muted">Title</label>-->
<!--  </div>-->
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Content" formControlName="Content" rows="20" style="height: 200px"></textarea>
    <span *ngIf="f.Content.dirty && f.Content.errors?.required"
          class="text-danger">
      {{ 'content is required' | translate }}
    </span>
    <label for="floatingContent" class="text-muted">{{ 'content' | translate }}</label>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary btn-login fw-bold p-2 mt-3" type="submit">
      {{ 'save' | translate }}
    </button>
  </div>
</form>
