<form [formGroup]="formGroup" (ngSubmit)="(submit)">
  <div class="form-floating mb-3">
    <input type="text"
           class="form-control"
           placeholder="Title"
           formControlName="title" />
    <span *ngIf="f.title.dirty && f.title.errors?.required"
          class="text-danger">
      {{ 'title is required' | translate }}
    </span>
    <label for="floatingTitle" class="text-muted">{{ 'title' | translate }}</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Description" formControlName="description" rows="20" style="height: 200px"></textarea>
    <span *ngIf="f.description.dirty && f.description.errors?.required"
          class="text-danger">
      {{ 'description is required' | translate }}
    </span>
    <label for="floatingContent" class="text-muted">{{ 'description' | translate }}</label>
  </div>
  <label class="btn btn-primary">
    {{ 'upload image' | translate }} <input type="file" hidden (change)="FileInputChange($event)">
  </label>
  <div class="d-grid">
    <button class="btn btn-primary btn-login fw-bold p-2 mt-3" type="submit">
      {{ 'save' | translate }}
    </button>
  </div>
</form>
