<div *ngIf="subtopics">
  <div class="row mt-2" *ngFor="let subtopic of subtopics">
    <div class="col-lg-12 p-0">
      <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
          <div class="media">
            <div class="media-body align-self-center">
              <h4 class="d-inline">
                <a routerLink="/subtopics/{{subtopic.id}}">{{subtopic.name}}</a>
<!--{{subtopic.name}}-->
                <!--<a routerLink="/subtopics/{{subtopic.id}}">{{subtopic.name}}</a>-->
              </h4>
              <span *ngIf="isAdmin" style="font-size: 1.3rem">
                <span class="text-muted"> | </span>
                <a class="editLink" (click)="GetItem(subtopic)"> {{ 'edit' | translate }}</a>
                <span class="text-muted"> | </span>
                <a class="editLink" (click)="DeleteTopic(subtopic.id)"> {{ 'delete' | translate }}</a>
              </span>
              <p class="text-secondary">
                {{subtopic.description}}
              </p>
            </div>
            <div style="width: 50px"></div>
            <div class="text-muted text-center align-self-center">
              <p class="mb-0">{{ subtopic.postCount }}</p>
              <p>{{ 'posts' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
