<div *ngIf="profiles">
  <div class="row">
    <div class="col-lg-4" *ngFor="let profile of profiles">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img *ngIf="profile.image" src="data:image/jpeg;base64,{{profile.image}}" alt="" class="rounded-circle p-1 bg-primary" width="130" height="130">
            <img *ngIf="!profile.image"
                 src="../../assets/defaultUserImage.png"
                 alt="" class="rounded-circle p-1 bg-primary" width="130" height="130">
            <div class="mt-3">
              <h4><a class="profileLink" (click)="open(mymodal, profile)">{{profile.firstName}} {{profile.lastName}}</a></h4>
              <div class="mt-2" style="font-size:1.4rem" *ngIf="profile.profileDetails">
                <span class="p-2" *ngIf="profile.profileDetails.website"><a href="{{profile.profileDetails.website}}" target="_blank"><i class="fa fa-globe"></i></a></span>
                <span class="p-2" *ngIf="profile.profileDetails.githubUrl"><a href="{{profile.profileDetails.githubUrl}}" target="_blank"><i class="fab fa-github"></i></a></span>
                <span class="p-2" *ngIf="profile.profileDetails.linkedinUrl"><a href="{{profile.profileDetails.linkedinUrl}}" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                <span class="p-2" *ngIf="profile.profileDetails.facebookUrl"><a href="{{profile.profileDetails.facebookUrl}}" target="_blank"><i class="fab fa-facebook"></i></a></span>
                <span class="p-2" *ngIf="profile.profileDetails.twitterUrl"><a href="{{profile.profileDetails.twitterUrl}}" target="_blank"><i class="fab fa-twitter"></i></a></span>
              </div>
              <div class="p-3" *ngIf="!profile.profileDetails"><span hidden>{{ 'links' |  translate }}</span></div>
              <p><i class="fa fa-star mt-2"> {{profile.profileStats.rating}}</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div style="float: left"></div>
      <div style="float: right">
        <button type="button"
                class="close btn"
                data-dismiss="modal"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column align-items-center text-center">
        <img *ngIf="profile.image" src="data:image/jpeg;base64,{{profile.image}}" alt="" class="rounded-circle p-1 bg-primary" width="180" height="180">
        <img *ngIf="!profile.image"
             src="../../assets/defaultUserImage.png"
             alt="" class="rounded-circle p-1 bg-primary" width="180" height="180">
        <div class="mt-3">
          <h4>{{profile.firstName}} {{profile.lastName}}</h4>
        </div>
        <div class="mt-2" style="font-size:2rem" *ngIf="profile.profileDetails">
          <span class="p-2" *ngIf="profile.profileDetails.website"><a href="{{profile.profileDetails.website}}" target="_blank"><i class="fa fa-globe"></i></a></span>
          <span class="p-2" *ngIf="profile.profileDetails.githubUrl"><a href="{{profile.profileDetails.githubUrl}}" target="_blank"><i class="fab fa-github"></i></a></span>
          <span class="p-2" *ngIf="profile.profileDetails.linkedinUrl"><a href="{{profile.profileDetails.linkedinUrl}}" target="_blank"><i class="fab fa-linkedin"></i></a></span>
          <span class="p-2" *ngIf="profile.profileDetails.facebookUrl"><a href="{{profile.profileDetails.facebookUrl}}" target="_blank"><i class="fab fa-facebook"></i></a></span>
          <span class="p-2" *ngIf="profile.profileDetails.twitterUrl"><a href="{{profile.profileDetails.twitterUrl}}" target="_blank"><i class="fab fa-twitter"></i></a></span>
        </div>
      </div>

      <div class="card mb-4 mt-3">
        <div class="card-body">
          <div class="card-title text-center"><h5>{{ 'profile stats' | translate }}</h5></div>
          <ul *ngIf="profile.profileStats" class="list-group list-group-flush text-center">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6>{{ 'rating' | translate }}</h6>
              <p>{{profile.profileStats.rating}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6>{{ 'posts created' | translate }}</h6>
              <p>{{profile.profileStats.postsCreated}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6>{{ 'posts commented' | translate }}</h6>
              <p>{{profile.profileStats.postsCommented}}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mb-4" *ngIf="isAuthenticated && profile.profileDetails">
        <div class="card-body">
          <div class="card-title text-center"><h5>{{ 'profile details' | translate }}</h5></div>
          <ul *ngIf="profile.profileDetails" class="list-group list-group-flush text-center">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6>{{ 'age' | translate }}</h6>
              <p *ngIf="profile.profileDetails.age > 0">{{profile.profileDetails.age}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6>{{ 'city' | translate }}</h6>
              <p *ngIf="profile.profileDetails.city">{{profile.profileDetails.city}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6>{{ 'country' | translate }}</h6>
              <p *ngIf="profile.profileDetails.country">{{profile.profileDetails.country}}</p>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
</ng-template>
