<div *ngIf="subtopic">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mb-3 p-0">
        <h1>{{subtopic.name}}</h1>
      </div>
      <div class="col-lg-1 mb-3 p-0">
        <div *ngIf="profile" class="mt-1" style="float: right">
          <button class="btn btn-lg btn-primary" (click)="open(mymodal, null, true)">{{ 'add' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <app-search (query)="GetQueryValue($event)"></app-search>
  </div>
  <app-post [posts]="posts" (postItemId)="DeletePost($event)" (postItem)="GetPostItem($event, mymodal)"></app-post>
</div>

<app-pagination *ngIf="posts"
                (goPage)="GoToPage($event)"
                (goPrevious)="GoToPrevious()"
                (goNext)="GoToNext()"
                [page]="page"
                [perPage]="limit"
                [count]="total">
</app-pagination>

<ng-template #mymodal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <div style="float: left"><h4>{{ 'add post' | translate }}</h4></div>
      <div style="float: right">
        <button type="button"
                class="close btn"
                data-dismiss="modal"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <app-post-form [formGroup]="postForm" [f]="f" (submit)="submit($event)"></app-post-form>
    </div>
  </div>
</ng-template>
