 <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <li class="nav-item">

        <select class="form-select" (change)="ChangeLang($event)" name="" id="">
          <option [selected]="lang==='en'" value="en">English</option>
          <option [selected]="lang==='ba'" value="ba">Bosnian</option>
          <option [selected]="lang==='es'" value="es">Spanish</option>
        </select>
      </li>
    </ul>
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DevForum</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow mr-auto">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/news']">{{ 'news' | translate }}</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/topics']">{{ 'topics' | translate }}</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/users']">{{ 'users' | translate }}</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
