<ul *ngIf="profileStats" class="list-group list-group-flush text-center">
  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
    <h6>Rating</h6>
    <p>{{profileStats.rating}}</p>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
    <h6>Posts created</h6>
    <p>{{profileStats.postsCreated}}</p>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
    <h6>Posts commented</h6>
    <p>{{profileStats.postsCommented}}</p>
  </li>
</ul>
